body {
    margin: 0;
    background-image: url("gambar/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family:  "Abel", sans-serif;
}

.nav-box {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}

.nav {
    padding: 30px 200px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0, 91, 119, 0.8), rgba(0, 0, 0, 0));
}

.nav-judul {
    font-size: 34px;
    letter-spacing: 2px;
    color: white;
    text-shadow: black 4px 4px 8px;
    padding: 5px;
}

.nav-page {
    font-size: 24px;
    padding: 0;
}

li a {
    padding: 10px 15px;
    color: white;
}

li a:hover {
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 10px;
}

.sign {
    background-color: rgb(0, 152, 223);
    border-radius: 10px;
}

li {
    padding: 10px 15px;
    text-shadow: black 4px 4px 8px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}


a {
    text-decoration: none;
}

.box {
    width: 100%;
    margin-top: 15%;
    padding: 30px 0;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.8) 5px 5px 8px;
    color: white;
}

.box-text {
    font-size: 68px;
    font-weight: bold;
    letter-spacing: 5px;
}

.box-deskripsi {
    font-size: 28px;
    margin-bottom: 100px;
}

.box-form {
    margin: 10% 35%;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.253) 4px 4px 8px;
}

input[type=text], input[type=password], input[type=email], select {
    width: 70%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], select {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.box-form {
    font-family: "Abel", sans-serif;
}

.form-judul {
    font-size: 50px;
    margin: 30px auto;
}

.form-text {
    font-size: 20px;
}

.form-text button {
    width: 70%;
    background-color: #007fb1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-text button:hover {
    opacity: 0.7;
}

.btn-home {
    background-color: #007fb1;
    padding: 25px 50px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

.btn-home:hover {
    opacity: 0.7;
}